*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding:0px;
	font-family: "segoe ui";
	background-color: #00631A;
}

#awal{
	position: relative;
	top: 50px;
	width: 100%;
	left: 90px;
	height: 160px;
	min-width: 980px;
	background-color: #00631A;
}

.sippekat{
	position: absolute;
	width: 560px;
	height: 130px;
    margin-left: 250px;
	font-size: 60px;
	color: #EBC64E;
	font-weight: bold;
	left: 130px;
}

.sippekat1{
	width: 875px;
	height: 48px;
    margin-left: 220px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	top: 100px;
	position: absolute;
}

.garis{
	width: 730px;
	top: 85px;
	margin-left: 280px;
	position: absolute;
}

.logosip{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 360px;
	height: 340px;
}

.logosip1{
	position: absolute;
	left: 1020px;
	top: 0px;
	width: 300px;
	height: 320px;
}

.selamat{
	text-align: center;
	width: 550px;
	word-wrap: break-word;
	left: 200px;
    margin-left: 265px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	top: 350px;
	position: absolute;
}

.garis2{
	width: 360px;
	top: 400px;
	left: 410px;
	margin-left: 150px;
	position: absolute;
}

.selamat2{
	text-align: left;
	width: 1200px;
	word-wrap: break-word;
	left: 20px;
    margin-left: 150px;
	font-size: 28px;
	color: white;
	font-weight: bold;
	top: 350px;
	position: absolute;
}

.selamat3{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 430px;
	position: absolute;
}

.selamat4{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 430px;
	position: absolute;
}
.saya1{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 430px;
	position: absolute;
}



.selamat5{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 470px;
	position: absolute;
}

.selamat6{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 470px;
	position: absolute;
}
.saya2{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 470px;
	position: absolute;
}

.selamat7{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 510px;
	position: absolute;
}
.selamat8{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 510px;
	position: absolute;
}

.saya3{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 510px;
	position: absolute;
}

.selamat9{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 550px;
	position: absolute;
}

.selamat10{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 550px;
	position: absolute;
}

.saya4{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 550px;
	position: absolute;
}
.selamat11{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 710px;
	position: absolute;
}

.selamat12{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 710px;
	position: absolute;
}

.saya5{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 710px;
	position: absolute;
}

.selamat13{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 750px;
	position: absolute;
}

.selamat14{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 750px;
	position: absolute;
}
.saya6{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 750px;
	position: absolute;
}

.selamat15{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 790px;
	position: absolute;
}

.selamat16{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 790px;
	position: absolute;
}
.saya7{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 420px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 790px;
	position: absolute;
}

.selamat17{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 830px;
	position: absolute;
}

.selamat18{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 400px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 830px;
	position: absolute;
}
.saya8{
	position: absolute;
	width: 450px;
	left: 500px;
	top: 830px;
	height: 420px;

}

.saya9{
	position: absolute;
	width: 1150px;
	left: 550px;
	top: 600px;
	height: 840px;

}
.riwayat{
	text-align: center;
	width: 550px;
	word-wrap: break-word;
	left: 200px;
    margin-left: 265px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	top: 1250px;
	position: absolute;
}

.skl0{
	width: 495px;
	top: 1300px;
	left: 410px;
	margin-left: 80px;
	position: absolute;
}

.riwayat3{
	text-align: left;
	width: 1200px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 28px;
	color:#EBC64E;
	font-weight: bold;
	top: 1330px;
	position: absolute;
}

.riwayat4{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 350px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 1330px;
	position: absolute;
}

.skl1{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1330px;
	position: absolute;
}

.skl2{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1360px;
	position: absolute;
}

.riwayat5{
	text-align: left;
	width: 1200px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 28px;
	color:#EBC64E;
	font-weight: bold;
	top: 1420px;
	position: absolute;
}

.riwayat6{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 350px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 1420px;
	position: absolute;
}

.skl3{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1420px;
	position: absolute;
}

.skl4{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1450px;
	position: absolute;
}

.riwayat7{
	text-align: left;
	width: 1200px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 28px;
	color:#EBC64E;
	font-weight: bold;
	top: 1510px;
	position: absolute;
}

.riwayat8{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 350px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 1510px;
	position: absolute;
}

.skl5{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1510px;
	position: absolute;
}

.skl6{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1540px;
	position: absolute;
}


.riwayat9{
	text-align: left;
	width: 1200px;
	word-wrap: break-word;
	left: 230px;
    margin-left: 150px;
	font-size: 28px;
	color:#EBC64E;
	font-weight: bold;
	top: 1600px;
	position: absolute;
}

.riwayat10{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 350px;
    margin-left: 150px;
	font-size: 27px;
	color: #EBC64E;
	font-weight: bold;
	top: 1600px;
	position: absolute;
}

.skl7{
	text-align: left;
	width: 800px;
	word-wrap: break-word;
	left: 380px;
    margin-left: 150px;
	font-size: 28px;
	color: #EBC64E;
	font-weight: bold;
	top: 1600px;
	position: absolute;
}
